rukkit:
  plugin_dir:
    "/Users/momonga/Develops/rukkit/example_plugins/"
  plugins:
    - say_hello_and_goodbye
    - strong_boots
    - fast_dash
    - chat_relay
    - super_jump
    - dummy
  script_dir:
    "/Users/momonga/Develops/rukkit/example_scripts/"
  scripts:
    - lingr
  plugin_config:
